@import url('style.css');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 38vw;
    min-height: 38vh;
    background-color: var(--primary-color);
    box-shadow: var(--shadow-large-element);
    border-radius: var(--border-radius-large-element);
    margin: 1.5rem 0;
    z-index: 2;
    padding: 2.5rem 1rem;
}

form h2 {
    color: var(--secondary-color);
    text-align: center;
}

form fieldset {
    min-width: 90%;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1.8rem;
}

form input {
    height: 2.7rem;
    border-radius: var(--border-radius-large-element);
    border: 1px solid var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    font-size: 1.2em;
}

form input:focus {
    outline: 1.5px solid var(--secondary-color);
}

.form-cta button {
    border-radius: var(--border-radius-small-element);
    padding: 0.7rem 3.2rem;
    color: var(--light);
    background-color: var(--log-color);
}

a {
    color: var(--log-color);
}

.ornament {
    position: absolute;
    z-index: 1;
}

.ornament.one {
    min-width: 15rem;
    min-height: 15rem;
    bottom: 8rem;
    right: 8rem;
    background-color: #e3dffb;
}

.ornament.two {
    min-width: 5rem;
    min-height: 5rem;
    bottom: 7rem;
    right: 20rem;
    background-color: var(--ornament-color);
}

.ornament.three {
    min-width: 13rem;
    min-height: 13rem;
    bottom: 23rem;
    left: 20rem;
    border: 3px solid #e3dffb;
}

.ornament.four {
    min-width: 5rem;
    min-height: 5rem;
    top: 16rem;
    left: 17rem;
    background-color: #e3dffb;
}