{% extends 'layout.html.twig' %}

{% block links %}
    <link href="/assets/css/identification-forms.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
{% endblock %}

{% block subtitle %}
    Inscription
{% endblock %}

{% block content %}
    <span class="ornament one"></span>
    <span class="ornament two"></span>
    <span class="ornament three"></span>
    <span class="ornament four"></span>

    <form action="" method="post">
        <h2>Inscrivez-vous </br>pour créer une facture</h2>
        <fieldset class="user-infos-field">
            <input type="email" name="user_email" id="user_email" placeholder="Email" maxlength="255" title="Veuillez renseigner un email valide" required>
            <input type="password" name="user_password" id="user_password" placeholder="Mots de passe" title="Veuillez renseigner un mot de passe valide" maxlength="24" pattern="/^[A-Za-zÀ-ÿ0-9 \'.,!@#$%^&*()_-]+$/" required>
        </fieldset>

        <div class="form-cta">
            <button type="submit">Valider</button>
        </div>

        <p>Déjà inscrit ? <a href="/login">Connectez-vous</a></p>
    </form>

{% endblock %}
